*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* V A R I A B L E S */
:root{
  --link_size:3vh;
  --logo_size:4vh;
  --sub_title_size:4vh;
  --color_1:yellow;
  --color_2:rgba(0,0,0,0.7);
  --color_3:#43455C;
  --color_5:#707793;
  --color_6:rgb(255,255,255);
}

/* B O D Y S Y L E */
body{
  overflow: hidden;
}

.bg{
  position: absolute;
  top:0;
  z-index: -5;
  height: 100vh;
  width: 100vw;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

/* C A R E S O U E L */
.cont_1{
  position: absolute;
  left: 10%;
  top: 40%;
}

.sub_text{
  text-align: left;
  margin-top: 5%;
  max-width: 80%;
}

.button{
  margin-top: 1%;
}

.button button{
  transition: .5s;
  padding: 1.2%;
  background-color:#4B0082;
  outline: none;
  border: none;
  color: white;
  font-weight: 900;
}

.button button:hover{
  transition: .5s;
  background-color: yellow;
  color:black;
}

.arr{
  font-size: 1.4rem;
  font-weight: 900;
  padding: 1% .8%;
  background-color:#4B0082;
  border: none;
  color:white;
  transition: .5s;
}

.arr:hover{
  transition: .5s;
  background-color: yellow;
  color:black;
}

button[name="right_arr"]{
  position: absolute;
  right: -100%;
}

button[name="left_arr"]{
  position: absolute;
  left: -100%;
}

.arrows{
    position: absolute;
    top: 50%;
    width: 100%;
}

.cont_1:hover{
  cursor: default;
}

/* R E S P O N S I V E */
@media only screen and (max-width: 1143px){
  .sub_text{
    display: none;
  }
}
